@import url(/apple/apple/styles/card.css);

/* 카드 레이아웃 */

*,
*::after,
*::before {
  box-sizing: border-box;
}


.box {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: 12px;
  /* min-width: 100% */
}

/* 카드 이미지 변경 */
.card-1 {
  background-image: image-set(url(../products/ipad_pro.jpeg) 1x,
      url(/apple/apple/products/ipad_pro_2x.jpeg) 2x);
}

.card-2 {
  background-image: image-set(url(../products/ipad_air.jpeg) 1x,
      url(../products/ipad_air_2x.jpeg) 2x);
}

.card-3 {
  background-image: image-set(url(../products/iphone15_pro.jpeg) 1x,
      url(../products/iphone15_pro_2x.jpeg) 2x);
}

.card-4 {
  background-image: image-set(url(../products/iphone15.jpeg) 1x,
      url(../products/iphone15_2x.jpeg) 2x);
}

.card-5 {
  background-image: image-set(url(../products/apple_watch.jpeg) 1x,
      url(../products/apple_watch_2x.jpeg) 2x);
}

.card-6 {
  background-image: image-set(url(../products/macbook_air.jpeg) 1x,
      url(../products/macbook_air_2x.jpeg) 2x);
}

.card-7 {
  background-image: image-set(url(../products/airpods_pro.jpeg) 1x,
      url(../products/airpods_pro_2x.jpeg) 2x);
}



/* Large Screen */
@media (min-width: 1024px) {

  .box {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .card-1 {
      background-image: image-set(url(../products/ipad_pro_wide.jpeg) 1x,
          url(../products/ipad_pro_wide_2x.jpeg) 2x);
      grid-column: 1 / -1;
    }

    .card-2 {
      background-image: image-set(url(../products/ipad_air_wide.jpeg) 1x,
          url(../products/ipad_air_wide_2x.jpeg) 2x);
      grid-column: 1 / -1;
    }

    .card-3 {
      background-image: image-set(url(../products/iphone15_pro_wide.jpeg) 1x,
          url(../products/iphone15_pro_wide_2x.jpeg) 2x);
      grid-column: 1 / -1;
    }
  }
}