/* CSS를 활용하여 레이아웃 및 스타일링을 완성해주세요 */
@import url(/naver/style/reset.css);
@import url(/naver/style/theme.css);
@import url(/naver/style/base.css);

:root {
  --base-color: #181818;
  /* --base-fontSize: 16px; */
  --base-fontSize: 16px;
  --focus-color: #24388d;
  --primary-color: #03cf5d;
  --input-background: #fff
}

/* 포커스 아웃라인 스타일 */
*:focus {
  outline: 0.125rem solid #24388d;
}


html,
body {
  font-size: 1rem;
  color: var(--base-color);
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}


section {
  width: 60%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;


  /* 로고 */
  h1 {
    width: 230px;
    margin-bottom: 50px;
    ;
  }

  /* 로그인 폼*/
  .login-form-container {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    padding: 0 1.25rem;
  }

  /* 아이디, 비밀번호 컴포넌트 */
  .input-form-group {
    column-gap: 1.25rem;

    .input-form {
      /* display: flex;
      flex-flow: column nowrap; */
      font-size: 0.875rem;
      height: 2.8125rem;
      margin-bottom: 0.7rem;
    }

    input {
      width: 100%;
      height: 100%;
      padding-left: 1rem;
      border: 0.0625rem solid #dadada;
      background: var(--input-background);
    }
  }

  /* 로그인 옵션 그룹*/
  .option-form-group {
    order: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    /* 로그인 상태 유지 및 IP 보안 */
    .checkbox-form {
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin-top: 0.7rem;
    }

    input {
      appearance: none;
      margin: 0;
    }

    /* 로그인 상태유지 */
    .keep-login {
      --checkbox-size: 1.5rem;

      label {
        background: url(/naver/icons/unchecked.svg) no-repeat 0 0 / contain;
        padding-left: 1.5rem;
      }
    }

    /* IP 보안 */
    .ip-security {}
  }

  button {
    background: var(--primary-color);
    color: white;
    border: none;
    margin-top: 0.4rem;
    height: 2.8125rem;
  }
}


/* 숨김 콘텐츠 */
.sr-only {
  /* label 숨기기 */
  display: none;
}