/* flex를 지원하는 웹브라우저를 위한 스타일  */
/* flex를 지원하는 웹브라우저를 위한 스타일  */
/* flex를 지원하는 웹브라우저를 위한 스타일  */
@supports (display: flex) {

  :root {
    --container-size: 940px;
  }


  .container {
    /* 정중앙배치*/
    margin: 0 auto;
    width: 350px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }


  img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }

  .avatars-setbox1,
  .avatars-setbox2,
  .avatars-setbox3,
  .avatars-setbox4,
  .avatars-setbox5,
  .avatars-setbox6,
  .avatars-setbox7,
  .avatars-setbox8 {
    width: 64px;
    height: 64px;
    margin: 10px;
    /* 아바타 이미지를 부모(relative).*/
    position: relative;
    display: inline-block;
  }

  .on {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: #4CFE88;
    /* 상태를 자식(absolute) : 부모 요소인 avatars-setbox를 기준으로 배치.*/
    position: absolute;
    /* 부모 요소 기준으로 얼마만큼 떨어질 지 결정한다.*/
    right: 0;
    bottom: 0;
  }

  .off {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: #DBDBDB;
    /* 상태를 자식(absolute).*/
    position: absolute;
    /* 부모 요소 기준으로 얼마만큼 떨어질 지 결정한다.*/
    right: 0;
    bottom: 0;
  }

  /* 순서 변경 */
  /* 자식 요소 order하려면 바로 상위 부모에 display: flex;가 있어야 함. */
  .avatars-setbox7 {
    order: 1;
  }

  .avatars-setbox5 {
    order: 2;
  }

  .avatars-setbox6 {
    order: 3;
  }

  .avatars-setbox8 {
    order: 4;
  }

  .avatars-setbox1 {
    order: 5;
  }

  .avatars-setbox2 {
    order: 6;
  }

  .avatars-setbox3 {
    order: 7;
  }

  .avatars-setbox4 {
    order: 8;
  }
}